@using BaseHW.Models;
@using BaseHW.ViewModels;
@inject ApplicationDbContext _context

@{
    var setting = _context.Settings!.ToList();
    var vm = new SettingVM()
            {
                SiteName = setting[0].SiteName,

            };
}


<!DOCTYPE html>
<html>
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8201505636469020"
            crossorigin="anonymous"></script>

    <title>@ViewData["Title"] - @(vm.SiteName == null ? "Site Name" : vm.SiteName)</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >

    <link href="/css/layout.css" rel="stylesheet">

    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%;
            line-height: 1.8;
        }

        /* Full height image header */
        .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url("/w3images/mac.jpg");
            min-height: 100%;
        }


    </style>
</head>


<body class="w3-light-grey">
    


    <!-- Navbar (sit on top) -->
    <div class="w3-top">

        <div class="w3-bar w3-green w3-card" id="myNavbar">
            <a href="/home/index" class="w3-bar-item w3-button w3-wide">BaseHW</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a href="/home/index" class="w3-bar-item w3-button"><i class="fa fa-home" aria-hidden="true"></i> @_localization.Getkey("anasayfa").Value</a>
                <a href="/info/" class="w3-bar-item w3-button"><i class="fa fa-address-card" aria-hidden="true"></i> @_localization.Getkey("info").Value</a>
                <a href="/home/siku" class="w3-bar-item w3-button"><i class="fa fa-truck"></i> SIKU</a>
                <a href="/SuperTreauserHunt/index" class="w3-bar-item w3-button"><i class="fa fa-car"></i> HOT WHEELS SUPER T-HUNT</a>
                <a href="/page/contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> @_localization.Getkey("iletisim").Value</a>
               
                
                <div class="w3-dropdown-hover">
                    <button class="w3-bar-item w3-button">@_localization.Getkey("language").Value</button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a asp-controller="Home"
                           asp-action="ChangeLanguage"
                           asp-route-culture="en-US"
                           class="w3-bar-item w3-button">EN</a>
                        <a asp-controller="Home"
                           asp-action="ChangeLanguage"
                           asp-route-culture="tr-TR"
                           class="w3-bar-item w3-button">TR</a>
                    </div>
                </div>
                          
            </div>

         
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">@_localization.Getkey("kapat").Value ×</a>
        <a href="/home/index" onclick="w3_close()" class="w3-bar-item w3-button">@_localization.Getkey("anasayfa").Value</a>
        <a href="/info/" onclick="w3_close()" class="w3-bar-item w3-button">@_localization.Getkey("info").Value</a>
        <a href="/home/siku" onclick="w3_close()" class="w3-bar-item w3-button">SIKU</a>
        <a href="/SuperTreauserHunt/index" onclick="w3_close()" class="w3-bar-item w3-button">HOT WHEELS SUPER T-HUNT</a>
        <a href="/page/contact" onclick="w3_close()" class="w3-bar-item w3-button">@_localization.Getkey("iletisim").Value</a>
        <a onclick="w3_close()" asp-controller="Home"
           asp-action="ChangeLanguage"
           asp-route-culture="en-US"
           class="w3-bar-item w3-button">
            <i class="flag-icon flag-icon-gb"></i> EN
        </a>
        <a onclick="w3_close()" asp-controller="Home"
           asp-action="ChangeLanguage"
           asp-route-culture="tr-TR"
           class="w3-bar-item w3-button">
            <i class="flag-icon flag-icon-gb"></i> TR
        </a>

    </nav>



    @RenderBody()


    <!-- Footer -->
    <div class="footer">
        <div class="contain">
            <div class="col">
                <h1>Site</h1>
                <ul>
                    <a href="/page/about">
                    <li>@_localization.Getkey("hakkimizda").Value</li></a>
                    <a href="/page/privacypolicy">
                    <li>@_localization.Getkey("privacy").Value</li></a>
                    <a href="/page/privacyapp">
                    <li>App @_localization.Getkey("privacy").Value</li></a>
                </ul>
            </div>
            <div class="col">
                <h1>@_localization.Getkey("veritabani").Value</h1>
                <ul>
                    <a href="/home/siku"><li>Siku</li></a>
                    <a href="/home/hotwheels"><li>Hot Wheels</li></a>
                    <a href="/SuperTreauserHunt/index"><li>HW STH</li></a>
                </ul>
            </div>
            <div class="col">
                <h1>@_localization.Getkey("veritabani").Value</h1>
                <ul>
                     <a href="/MatchboxSuperChase/index">
                    <li>Matchbox SuperChase</li></a>
                    <a href="/hwcase/index">
                    <li>@_localization.Getkey("hwkutuliste").Value</li></a>
                    <a href="/info/index">
                    <li>@_localization.Getkey("infos").Value</li></a>
                </ul>
            </div>
            <div class="col">
                <h1>@_localization.Getkey("destek").Value</h1>
                <ul>
                    <a href="/page/contact">
                    <li>@_localization.Getkey("iletisimkisa").Value</li></a>
                    <a href="/sitemap.xml"><li>Sitemap</li></a>
                    <a href="/page/copyright"><li>Copyright</li></a>

                </ul>
            </div>
            <div class="col social">
                <h1>@_localization.Getkey("sosyalmedya").Value</h1>
                <ul>
                    <li>
                        <a href="https://github.com/ttimocin"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.tgun89.hwbase"><i class="fa fa-play fa-2x" aria-hidden="true"></i></a>                     
                    </li>
                    <li>
                        <a href="https://www.instagram.com/backtothediecast"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>

                <div class="copy">


                    <ul>
                        <li>
                            <h1>Copyright © 2023 BaseHW.net</h1>

                        </li>

                    </ul>
                </div>

            </div>

           


            <div class="clearfix"></div>
        </div>
    </div>
    
    <script>
        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }


        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
            } else {
                mySidebar.style.display = 'block';
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
    </script>

</body>
</html>



