@{
    ViewData["Title"] = "Privacy Policy";
 }

<head>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8201505636469020"
            crossorigin="anonymous"></script>
    <style>
        .top {
            margin-left: 150px;
            margin-right: 150px;
            margin-top: 25px;
            margin-bottom: 20px;
        }

        @@media (max-width: 920px) {
            .top {
                margin-left: 90px;
                margin-right: 90px;
                margin-top: 30px;
                margin-bottom: 15px;
            }
        }

        @@media (max-width: 600px) {
            .top {
                margin-left: 50px;
                margin-right: 50px;
                margin-top: 15px;
                margin-bottom: 9px;
            }


            @@media (max-width: 480px) {
                .top {
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 10px;
                    margin-bottom: 5px;
                }
            }

    </style>
</head>

<header class="w3-container w3-center w3-padding-32">
</header>


<div class="top">


<div class="w3-card-4 w3-margin w3-white">

    <!-- Header -->

    <div class="w3-container">


            <h3><b>@_localization.Getkey("privacy").Value</b></h3>
    </div>

    <div class="w3-container">

            
            
            <p>@_localization.Getkey("privacy1").Value</p>
            <h4>@_localization.Getkey("privacy2").Value</h4>
            <p>@_localization.Getkey("privacy3").Value</p>
            <h4>@_localization.Getkey("privacy4").Value</h4>
            <p>@_localization.Getkey("privacy5").Value</p>
            <h4>@_localization.Getkey("privacy6").Value</h4>
            <p>@_localization.Getkey("privacy7").Value</p>
            <h4>@_localization.Getkey("privacy8").Value</h4>
            <p>@_localization.Getkey("privacy9").Value</p>
            <h4>@_localization.Getkey("privacy10").Value</h4>
            <p>@_localization.Getkey("privacy11").Value</p>
            <h4>@_localization.Getkey("iletisimkisa").Value</h4>
            <p>@_localization.Getkey("privacy12").Value</p>

        </div>

    </div>
</div>



